#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.leftHalfInfoWindow {
    display: inline-block;
    width: 65%;
    vertical-align: middle;
}
.rightHalfInfoWindow {
    display: inline-block;
    width: 35%;
    vertical-align: middle;
}
.infoWindowHeading {
    position: relative;
    top: -15px;
}
.infoWindowContent {
}

.infoWindowImg {
    max-width: 100% !important;
}

.centerText {
    text-align: center;
}